  <!-- About Section -->
  <section class="success" id="about">
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2>About</h2>
                  <hr class="star-light">
              </div>
          </div>
          <div class="row">
              <div class="col-lg-4 col-lg-offset-2">
                  <p>I develop and prettify things. I currently make the world a better place with some HTML, CSS, and JavaScript magic… I happily play around with other languages as well. </p>
              </div>
              <div class="col-lg-4">
                  <p>I have a background in Engineering from The University of Texas, and am currently in sunny Los Angeles.  I highly enjoy improv comedy, being active, fair weather, and dried mango chili habañero.</p>
              </div>
          </div>
      </div>
  </section>